ul.wpss_slides {
    display: flex;
    flex-wrap: wrap;
}

ul.wpss_slides li {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 20px 20px 0;
    transition: all ease 0.1s;
    overflow: hidden;
}

ul.wpss_slides li img {
    height: 250px;
    object-fit: cover;
}

ul.wpss_slides li:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    position: absolute;
}

li .wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 35px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 55px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li:hover .wpss_slide_actions, ul.wpss_slides li .wpss_slide_actions a:hover span {
    opacity: 1;
    visibility: visible;
}

.wpss_slide_actions a {
    text-decoration: none;
}

.wpss_slide_actions a i {
    color: white;
    font-size: 2.2em;
    padding: 0px 10px;
}

ul.wpss_slides li .wpss_slide_actions a {
    display: inline-block;
    margin: 5px 10px;
    position: relative;
}

ul.wpss_slides li .wpss_slide_actions a span {
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
    min-width: 70px;
    top: calc( 100% + 15px);
    left: -17px;
    padding: 5px;
    background: #1B2A40;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions a span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #1b2a40 transparent;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/************* Metabox options control ************/
.wpss_slides_wrap table th small{
    display: block;
    font-weight: normal;
    color: #9e9e9e;
}

.wpss_slides_wrap .image-control {
    display: inline-block;
}

.wpss_slides_wrap .image-control input {
    display: none;
}

.wpss_slides_wrap .image-control label {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 30px 30px 0;
    padding: 5px;
    transition: all ease 0.1s;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #9E9E9E;
    font-weight: 600;
}

.wpss_slides_wrap .image-control label img {
    display: block;
    margin-bottom: 3px;
}

.wpss_slides_wrap .image-control input:checked + label {
    border: 2px solid #03A9F4;
    box-shadow: 0 0 5px rgb(0 57 84 / 60%);
}

.wpss_slides_wrap label.form-switch input[type="checkbox"] {
    display: none;
}

.wpss_slides_wrap label.form-switch span {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 2px;
    width: 50px;
    height: 24px;
    background: #a8bece;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    transition: all .4s ease;
    box-shadow: none;
    color: #87a6bc;
    text-align: right;
}

.wpss_slides_wrap label.form-switch span:after, 
.wpss_slides_wrap label.form-switch span:before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    top: 2px;
}

.wpss_slides_wrap label.form-switch input[type="checkbox"]:checked + span:after {
    right: 2px;
    left: auto;
    content: 'ON';
}

.wpss_slides_wrap label.form-switch input[type="checkbox"] + span:after {
    content: 'OFF';
    font-size: 9px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.wpss_slides_wrap label.form-switch span:after {
    left: 2px;
    border-radius: 30px;
    background: #fff;
    transition: all .2s ease;
}

.wpss_slides_wrap label.form-switch input[type="checkbox"]:checked + span {
    background-color: #03A9F4;
    color: #03A9F4;
}

.wpss_slides_wrap label.form-switch span {
    position: relative;
    display: inline-block;
    border-radius: 23px;
    box-sizing: border-box;
    padding: 4px;
    width: 60px;
    height: 34px;
    background: #a8bece;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    transition: all .4s ease;
    box-shadow: none;
    color: #87a6bc;
    text-align: right;
}

.wpss_slides_wrap label.form-slider .slider {
    -webkit-appearance: none;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 30px 15px 0;
}
.wpss-range-output {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

/* Optional: style the range slider itself */
input[type="range"] {
    width: 250px;
    height: 4px;
    background: #ccc;
    border-radius: 3px;
    outline: none;
    transition: background 0.3s ease;
}

input[type="range"]:hover {
    background: #999;
}
.wpss-number-field .wpss-number-wrap {
    display: flex;
    align-items: center;
}

.wpss-input {
    width: 80px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.wpss-responsive-field {
    display: none;
}
#wpss_slider_shortcode_metabox hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
#wpss_slider_shortcode_metabox code {
    display: block;
    padding: 5px;
    background: #f7f7f7;
}