/* ============================= Arrow Style ========================== */

/* === Style 1 === */
.wpss-swiper-arrow-style1 .swiper-button-next:after,
.wpss-swiper-arrow-style1 .swiper-button-prev:after {
    font-size: inherit;
    opacity: unset;
}

/* === Style 2 === */
.wpss-swiper-arrow-style2 .swiper-button-next,
.wpss-swiper-arrow-style2 .swiper-button-prev {
    border: 2px solid #555;
    border-radius: inherit;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: unset;
}

.wpss-swiper-arrow-style2 .swiper-button-next:after, 
.wpss-swiper-arrow-style2 .swiper-button-prev:after {
    font-size: inherit;
}

/* === Style 3 === */
.wpss-swiper-arrow-style3 {
    position: relative;
}

.wpss-swiper-arrow-style3 .swiper-button-prev,
.wpss-swiper-arrow-style3 .swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: auto;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
}

.wpss-swiper-arrow-style3 .swiper-button-prev {
    left: 0;
}

.wpss-swiper-arrow-style3 .swiper-button-next {
    right: 0;
}

.wpss-swiper-arrow-style3 .swiper-button-prev:after,
.wpss-swiper-arrow-style3 .swiper-button-next:after {
    font-size: inherit;
}

/* === Custom Arrow === */
.wpss-swiper-arrow-custom .swiper-button-next,
.wpss-swiper-arrow-custom .swiper-button-prev {
    border: 2px solid #fff;
    border-radius: inherit;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpss-swiper-arrow-custom .swiper-button-next:after, 
.wpss-swiper-arrow-custom .swiper-button-prev:after {
    font-size: inherit;
}

/* =========================== Dot Pagination Style =========================== */

.wpss-swiper *:focus {
    outline-width: 2px;
    outline-style: none;
}

/* === Style 1  === */
.wpss-swiper-dot-style1 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}
.wpss-swiper-dot-style1 .swiper-pagination-bullet-active {
    background: #fff;
}

/* === Style 2 === */
.wpss-swiper-dot-style2 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 0;
    opacity: 1;
}
.wpss-swiper-dot-style2 .swiper-pagination-bullet-active {
    background: #fff;
}

/* === Style 3 === */
.wpss-swiper-dot-style3 .swiper-pagination-bullet {
    background: #999;
    border-radius: 0;
    width: 20px;
    height: 4px;
    opacity: 0.6;
}
.wpss-swiper-dot-style3 .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

/* === Style 4 === */
.wpss-swiper-dot-style4 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    transition: all 0.3s ease;
    background: transparent; 
    border: 2px solid #fff;  
    opacity: 0.8;
}

.wpss-swiper-dot-style4 .swiper-pagination-bullet-active {
    width: 28px;
    border-radius: 999px;
    background: #fff; 
    opacity: 1;
}

/* ============================ Custom Pagination Style =================================== */

.wpss-pagination-custom.wpss-swiper-custom-style1 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: var(--wpss-custom-active-text-color, #0a0607); 
    opacity: 1;
    background: var(--wpss-custom-active-bg-color, #0a0607); 
}
.wpss-pagination-custom.wpss-swiper-custom-style1 .swiper-pagination-bullet-active {
    color: var(--wpss-custom-text-color, #ff0000); 
    background: var(--wpss-custom-bg-color, #007aff);
}

/* =========================== Grab Cursor ========================== */

.wpss-swiper-grab-cursor {
    cursor: grab;
}
.wpss-swiper-grab-cursor:active {
    cursor: grabbing;
}

/* =========================== Progress Bar ============================= */

.wpss-progress-top .swiper-pagination-progressbar {
    top: 0;
    bottom: auto;
    z-index: 99;
    height: 6px;
}

.wpss-progress-bottom .swiper-pagination-progressbar {
    bottom: 0;
    top: auto;
    z-index: 99;
    height: 6px;
} 

.wpss-progress-left .swiper-pagination-progressbar {
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    z-index: 99;
    width: 6px;
}

.wpss-progress-right .swiper-pagination-progressbar {
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 6px;
    z-index: 99;
}

.wpss-progressbar-fill {
    width: 100%;
    height: 100%;
}

/* ===================== Slides Per View =====================*/

.wpss-auto-slides .swiper-slide {
    width: 60% !important;
}

.wpss-auto-slides .swiper-slide:nth-child(2n) {
    width: 40% !important;
}

.wpss-auto-slides .swiper-slide:nth-child(3n) {
    width: 20% !important;
}

/* ==================== Autoplay Porgress ============================ */

.wpss-swiper .autoplay-progress {
  position: absolute;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.wpss-swiper .wpss-timeleft-top-left {
  top: 16px;
  left: 16px;
}

.wpss-swiper .wpss-timeleft-top-right {
  top: 16px;
  right: 16px;
}

.wpss-swiper .wpss-timeleft-bottom-left {
  bottom: 16px;
  left: 16px;
}

.wpss-swiper .wpss-timeleft-bottom-right {
  bottom: 16px;
  right: 16px;
}

.wpss-swiper .autoplay-progress svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* ======================= Effect Fraction ====================== */

.wpss-swiper .wpss-fraction-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.wpss-swiper .wpss-fraction-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.wpss-swiper .wpss-fraction-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.wpss-swiper  .wpss-fraction-bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}