ul.wpss_slides {
    display: flex;
    flex-wrap: wrap;
}

ul.wpss_slides li {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 20px 20px 0;
    transition: all ease 0.1s;
    overflow: hidden;
}

ul.wpss_slides li img {
    height: 250px;
    object-fit: cover;
}

ul.wpss_slides li:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    position: absolute;
}

li .wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 35px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 55px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li:hover .wpss_slide_actions, ul.wpss_slides li .wpss_slide_actions a:hover span {
    opacity: 1;
    visibility: visible;
}

.wpss_slide_actions a {
    text-decoration: none;
}

.wpss_slide_actions a i {
    color: white;
    font-size: 2.2em;
    padding: 0px 10px;
}

ul.wpss_slides li .wpss_slide_actions a {
    display: inline-block;
    margin: 5px 10px;
    position: relative;
}

ul.wpss_slides li .wpss_slide_actions a span {
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
    min-width: 70px;
    top: calc( 100% + 15px);
    left: -17px;
    padding: 5px;
    background: #1B2A40;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions a span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #1b2a40 transparent;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/************* Metabox options control ************/
.wpss_slides_wrap table tr th ,
.wpss_slides_wrap table tr td{
    border-bottom: 1px dashed #eee;
}

.wpss_slides_wrap table th small{
    display: block;
    font-weight: normal;
    color: #9e9e9e;
}

.wpss_slides_wrap .wpss-image-control {
    display: inline-block;
}

.wpss_slides_wrap .wpss-image-control input {
    display: none;
}

.wpss_slides_wrap .wpss-image-control label {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 30px 30px 0;
    padding: 5px;
    transition: all ease 0.1s;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #9E9E9E;
    font-weight: 600;
}

.wpss_slides_wrap .wpss-image-control label img {
    display: block;
    margin-bottom: 3px;
}

.wpss_slides_wrap .wpss-image-control input:checked + label {
    border: 2px solid #03A9F4;
    box-shadow: 0 0 5px rgb(0 57 84 / 60%);
}

.wpss_slides_wrap label.wpss-form-switch input[type="checkbox"] {
    display: none;
}

/* ==================== Switch Icon ========================== */
.wpss-toggle-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.wpss-toggle-input {
    display: none;
}

.wpss-toggle-switch {
    width: 44px;
    height: 24px;
    background-color: #e2e8f0;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s ease;
}

.wpss-toggle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpss-toggle-input:checked + .wpss-toggle-switch {
    background-color: #3655AA;
}

.wpss-toggle-input:checked + .wpss-toggle-switch .wpss-toggle {
    left: 22px;
}

.wpss-toggle svg {
    width: 10px;
    height: 14px;
    stroke: #94a3b8;
    stroke-width: 2;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.wpss-icon-on {
    fill: #3655AA;
    display: none;
}

.wpss-icon-off {
    fill: #94a3b8;
    display: block;
}

.wpss-toggle-input:checked + .wpss-toggle-switch .wpss-icon-on {
    display: block;
    transform: rotate(360deg);
}

.wpss-toggle-input:checked + .wpss-toggle-switch .wpss-icon-off {
    display: none;
}

/* ================ Switch Icon ==================*/

.wpss_slides_wrap table p.description {
    color: #333;
    font-size: 12px;
    margin-top: 5px;
}
.wpss-image-control img{
    max-width: 150px;
    max-height: 98px;
    object-fit: cover;
}

.wpss-autoplay-progress:not(:visible) ~ .wpss-autoplay-progress-bar {
    display: none !important;
}

/* ============== Pro Version message ============= */
.wpss-pro-message {
    color: #c9356e;
}
.wpss-disabled-option {
    pointer-events: none;
    opacity: 1;
}

/* ============== Pro Version message ============= */

.wpss_slides_wrap label.form-slider .slider {
    -webkit-appearance: none;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 30px 15px 0;
}
.wpss-range-output {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

/* Optional: style the range slider itself */
input[type="range"] {
    width: 250px;
    height: 4px;
    background: #ccc;
    border-radius: 3px;
    outline: none;
    transition: background 0.3s ease;
}

input[type="range"]:hover {
    background: #999;
}
.wpss-number-field .wpss-number-wrap {
    display: flex;
    align-items: center;
}
.wpss-input, .wpss-select{
    width: 350px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.wpss-responsive-field {
    display: none;
}
#wpss_slider_shortcode_metabox hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
#wpss_slider_shortcode_metabox code {
    display: block;
    padding: 5px;
    background: #f7f7f7;
}
