.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swipe  r-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================= Arrow Style ========================== */
/* Style 1 */
.wpss-swiper-arrow-style1 .swiper-button-next,
.wpss-swiper-arrow-style1 .swiper-button-prev {
    color: #555;
    font-size: 40px;
    opacity: 0.9;
}

.wpss-swiper-arrow-style1 .swiper-button-next:hover,
.wpss-swiper-arrow-style1 .swiper-button-prev:hover {
    color: #fff;
}

/* Style 2 */
.wpss-swiper-arrow-style2 .swiper-button-next,
.wpss-swiper-arrow-style2 .swiper-button-prev {
    background: #ffffff00;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpss-swiper-arrow-style2 .swiper-button-next:after, 
.wpss-swiper-arrow-style2 .swiper-button-prev:after{
    font-size: 30px;
}

.wpss-swiper-arrow-style2 .swiper-button-next:hover,
.wpss-swiper-arrow-style2 .swiper-button-prev:hover {
    border: 2px solid #000000;
    color: #000000;
}

/* Style 3 */
.wpss-swiper-arrow-style3 .swiper-button-next,
.wpss-swiper-arrow-style3 .swiper-button-prev {
    background: #555;
    border: 2px solid #555;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.wpss-swiper-arrow-style3 .swiper-button-next:after, 
.wpss-swiper-arrow-style3 .swiper-button-prev:after{
    font-size: 30px;
}

/* Style 4 */
.wpss-swiper-arrow-style4 {
    position: relative;
}

.wpss-swiper-arrow-style4 .swiper-button-prev,
.wpss-swiper-arrow-style4 .swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 398px;
    background: #fff;
    border: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 0;
}
.wpss-swiper-arrow-style4 .swiper-button-prev {
    left: 0;
}

.wpss-swiper-arrow-style4 .swiper-button-next {
    right: 0;
}

.wpss-swiper-arrow-style4 .swiper-button-prev:hover,
.wpss-swiper-arrow-style4 .swiper-button-next:hover {
    background: #55555585;
    color: white;
}

.wpss-swiper-arrow-style4 .swiper-button-prev:after,
.wpss-swiper-arrow-style4 .swiper-button-next:after {
    font-size: 30px;
}

/* =========================== Dot Style =========================== */

.wp-site-blocks *:focus {
	outline-width: 2px;
	outline-style: none;
}

/* Style 1  */
.wpss-swiper-dot-style1 .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 1;
}
.wpss-swiper-dot-style1 .swiper-pagination-bullet-active {
    background: #fff;
}

/* Style 2 */
.wpss-swiper-dot-style2 .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    width: 8px;
    height: 8px;
    border-radius: 0;
    opacity: 1;
}
.wpss-swiper-dot-style2 .swiper-pagination-bullet-active {
    background: #fff;
}

/* Style 3 */
.wpss-swiper-dot-style3 .swiper-pagination-bullet {
    background: #999;
    border-radius: 0;
    width: 20px;
    height: 4px;
    opacity: 0.6;
}
.wpss-swiper-dot-style3 .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

/* Style 4 */
.wpss-swiper-dot-style4 .swiper-pagination-bullet {
    background: #fff;
    border: 2px solid #333;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}
.wpss-swiper-dot-style4 .swiper-pagination-bullet-active {
    background: #000;
}

/* =========================== Grab Cursor ========================== */
.wpss-swiper-grab-cursor {
    cursor: grab;
}
.wpss-swiper-grab-cursor:active {
    cursor: grabbing;
}


/* =========================== Progress Bar ============================= */
/* Base Progressbar (Horizontal default) */
.swiper-slider-wrapper .swiper-pagination-progressbar {
    height: 6px;
    background: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: auto;
    bottom: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Horizontal Fill */
.swiper-slider-wrapper.wpss-vertical .swiper-pagination-progressbar-fill {
    height: 100%;
    width: 0%;
    background-color: #ff0000;
    border-radius: 50px;
}

/* Horizontal Positions */
.swiper-slider-wrapper.wpss-progress-top .swiper-pagination-progressbar {
    top: 0;
    bottom: auto;
}

.swiper-slider-wrapper.wpss-progress-bottom .swiper-pagination-progressbar {
    bottom: 0;
    top: auto;
}
